{# templates/email/reset_password.html.twig #}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réinitialisation de mot de passe</title>
</head>
<body>
    <p>Bonjour,</p>
    <p>Vous avez demandé la réinitialisation de votre mot de passe. Veuillez cliquer sur le lien ci-dessous pour choisir un nouveau mot de passe :</p>
    <a href="{{ path('app_reset_password_form', {'resetToken': resetToken}) }}" class="btn btn-primary">Réinitialiser le mot de passe</a>
    <p>Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet e-mail en toute sécurité.</p>
    <p>Cordialement,<br>L'équipe du site</p>
</body>
</html>
